:root {
  --bg-card: #353535;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  gap: 1rem;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1200px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  background-color: var(--bg-card);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 3px 3px rgba(255, 255, 255, 0.4), 0 -1px 1px rgba(0, 0, 0, 0.3),
    0 0 9px #0073ff;
}

.content {
  display: flex;
  flex-direction: column;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  display: flex;
  justify-content: center;
  height: 10rem;
  align-items: center;
  border-radius: 10px;
  font-size: 5rem;
  background-color: var(--bg-card);
  cursor: pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.attempts {
  align-self: center;
  /* background-color: var(--bg-card); */
  padding: 1rem;
  color: black;
}

.match {
  background-color: green;
  cursor: default;
}
